body {
	background: #909eab url("http://picsfab.com/download/image/128639/1920x1200_superkaryi-porshe-2014-porsche-918-spyder-vid-szadi.jpg");
    transition-property: fixed;
	font-family: Helvetica, sans-serif; font-size: 18px; line-height: 24px;
}
 
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }

   /*
    @media screen and (max-width: 768px) {
        #menu {
            width:1.4em;
            display: block;
            background:#ddd;
            font-size:1.35em;
            text-align: center;
        }
        #nav.js {
            display: none;
        }
        ul {
            width:100%;
        }
        li {
            width:100%;
            border-right:none;
        }
    }
    @media screen and (min-width: 768px) {
        #menu {
            display: none;
        }
    }*/

